<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ if .IsHome}}
        <title>{{.Site.Title}}</title>
        <meta name="description" content="{{ .Param "description" }}">
    {{else}}
        <title>{{.Title}} | {{.Site.Title}}</title>
        <meta name="description" content="{{.Title}}">
    {{end}}
    <!--favicon-->
    <link rel="icon" type="image/svg" href='{{"img/fscilogoheader.svg" | absURL}}'/>
    <meta name="keywords" content="{{.Site.Params.keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{hugo.Generator}}
    <!--CSS Files-->
    {{partial "custom-font.html" .}}
    <link rel="stylesheet" href='{{"css/style.css" | absURL }}' type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href='{{"css/poppins.css" | absURL}}' type="text/css" media="screen" /> -->
    <link rel="stylesheet" href='{{"css/menu.css" | absURL}}' type="text/css" media="screen" />
    <link rel="stylesheet" href='{{"css/all.css" | absURL}}' type="text/css" media="screen" />

  {{ if .IsTranslated }}
  	{{ range .Translations }}
  	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  	{{ end }}
  {{ end }}
</head>
